    @font-face {
        font-family: viga;
        src: url(../fonts/Viga-Regular.ttf);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button {
        font-family: viga;
    }

    .f-20 {
        font-size: 20px;
    }

    span {
        font-size: 16px;
        vertical-align: baseline;
    }

    .bg-prim {
        background-color: #0D6AE3;
    }

    .text-prim {
        color: #0D6AE3;
    }

    .absolute-middle {
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .fixed-middle-left {
        top: 50%;
        position: fixed;
    }

    .rounded-10 {
        border-radius: 10px;
    }

    .rounded-20 {
        border-radius: 20px !important;
    }

    .border-bottom-2 {
        border-bottom: 2px solid #dee2e6 !important;
    }

    .pl-6,
    .px-6 {
        padding-left: 3.5rem;
    }

    .pr-6,
    .px-6 {
        padding-right: 3.5rem;
    }

    /* navbar */
    .btn-navbar-toggler div {
        height: 7px;
        margin: 2px 0;
        border-radius: 10px;
        background-color: #ffffff;
        transition: .3s all;
    }

    .btn-navbar-toggler div:nth-child(1) {
        width: 39px;
    }

    .btn-navbar-toggler div:nth-child(2) {
        width: 25px;
        float: right;
    }

    .btn-navbar-toggler.open div {
        width: 35px;
        background-color: #000000;
        z-index: 2;
    }

    .btn-navbar-toggler.open div:nth-child(1) {
        transform: rotate(45deg) translate(8px);
    }

    .btn-navbar-toggler.open div:nth-child(2) {
        transform: rotate(-45deg) translate(8px);
    }

    .navbar-expand {
        position: fixed;
        width: 100%;
        top: 0;
        right: 100%;
        bottom: 0;
        transition-delay: 5.2s;
        transition: .3s all;
        z-index: 3;
        background-color: rgba(255, 255, 255, .97);
    }

    .navbar-expand.show {
        right: 0;
        width: 100%;
    }

    .navbar-expand .container .row div {
        padding: 0px 50px !important;
    }

    .navbar-expand .container ul li {
        list-style: none;
    }

    .navbar-expand .container ul li a {
        text-decoration: none;
    }

    .navbar-expand .container ul li h2 {
        margin: 30px 0;
        font-size: 65px;
        color: transparent;
        transition: .3s ease-in-out;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000000;
    }

    .navbar-expand .container ul li:nth-child(1) h2:before {
        content: 'Home';
    }

    .navbar-expand .container ul li:nth-child(2) h2:before {
        content: 'Magazines';
    }

    .navbar-expand .container ul li:nth-child(3) h2:before {
        content: 'Popular';
    }

    .navbar-expand .container ul li:nth-child(4) h2:before {
        content: 'SignIn';
    }

    .navbar-expand .container ul li h2:before {
        color: black;
        position: absolute;
        right: 0;
        opacity: 0;
        bottom: 0;
        transition: .3s ease-in-out;

    }

    .navbar-expand .container ul li:hover h2:before {
        opacity: 1;
        bottom: 3px;
        right: 5px;
    }

    .navbar-brand.change {
        color: #0D6AE3;
    }

    .navbar img {
        width: 34px;
    }

    @media only screen and (max-width : 1200px) {
        .navbar-expand .container .row div img {
            width: 450px !important;
            height: auto !important;
        }

        .navbar-expand .container ul li h2 {
            margin: 20px 0;
            font-size: 55px;
        }

        .navbar-expand .container ul li h2:before {
            right: 0;
        }

        .navbar-expand .container .row div {
            padding: 0px 20px !important;
        }
    }

    @media only screen and (max-width : 991px) {
        .navbar-expand .container .row div {
            padding: 0px 10px !important;
        }

        .navbar-expand .container .row div img {
            width: 350px !important;
            height: auto !important;
        }

        .navbar-expand .container ul li h2 {
            margin: 20px;
            font-size: 45px;
        }

        .navbar-expand .container ul li h2:before {
            right: 0;
        }

    }

    @media only screen and (max-width : 767px) {
        .navbar-expand .container .row div {
            padding: 0px 20px !important;
        }

        .navbar-expand .container .row * {
            text-align: center;
        }

        .navbar-expand .container .row div img {
            width: 300px !important;
        }

        .navbar-expand .container ul li h2 {
            margin: 10px 0;
            font-size: 45px;
        }

        .navbar-expand .container ul li h2:before {
            left: 0;
        }

        .navbar-expand .container ul li:hover h2:before {
            bottom: 3px;
            left: -5px;
        }

        .navbar-expand ul {
            padding-left: 0 !important;
        }
    }

    /* navbar */
    /* index */
    .main {
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    .slider .img-cover {
        max-height: 98%;
        width: 90%;
    }

    .container-fluid {
        padding: 0 60px;
    }

    .container-fluid .slider {
        padding: 0 70px;
    }

    .icon {
        border-radius: 8px;
        border: 2px solid #ffffff;
        padding: .6rem;
        background-color: transparent;
        margin-right: .8rem;
        cursor: pointer;
        transition: .2s all;
    }

    .icon:hover {
        background-color: #fff;
        box-shadow: 0px 22px 15px -8px rgba(0, 0, 0, 0.3);
        transform: translateY(-5px);
    }

    .icon img {
        max-width: 20px;
        max-height: 20px;
        transition: .3s ease-in-out;
    }

    .WM {
        bottom: 0;
        left: 0;
        border-radius: 0 20px 0 0;
        z-index: 9;
    }

    .WM img {
        vertical-align: baseline;
        width: 50px;
    }

    .rate svg {
        color: #ff0;
    }

    .title-magazine {
        font-size: 70px;
    }

    .slider .slick-next,
    .slider .slick-prev {
        border-radius: 10px !important;
        background-color: #ffffff !important;
        font-size: 20px !important;
        padding: 25px !important;
        display: block !important;
        transition: 0.2s ease-in-out;
    }

    .slider .slick-next:hover,
    .slider .slick-prev:hover {
        background: rgba(255, 255, 255, 0.34) !important;
    }

    .slider .slick-next:before,
    .slider .slick-prev:before {
        display: none;
    }

    @media only screen and (max-width : 767px) {
        .img-cover {
            width: 65% !important;
        }

        .title-magazine {
            font-size: 35px !important;
            margin-top: 1rem !important;
        }

        .container-fluid .slider {
            padding: 0 40px;
        }

        .container-fluid {
            padding: 0 35px;
        }

        .slider .slick-next,
        .slider .slick-prev {
            font-size: 15px !important;
            padding: 20px !important;
        }

        .grup {
            position: fixed;
            right: -30px;
            padding-right: 25px;
            width: 60%;
            top: 65px;
        }

        .button-group {
            margin-top: 10px !important;
        }

        .icon {
            margin-top: .5rem;
        }

        .slider .btn {
            float: right;
        }

        .icon {
            padding: .5rem;
        }

        .icon img {
            max-width: 17px;
            max-height: 17px;
        }
    }

    @media only screen and (max-width : 1200px) {
        .img-cover {
            width: 100%;
        }

        .title-magazine {
            font-size: 40px;
            margin-top: 1rem;
        }

        .container-fluid .slider {
            padding: 0 60px;
        }

        .container-fluid {
            padding: 0 35px;
        }

        .slider {
            padding-top: 50px !important;
        }
    }

    /*  */

    /* magazine */

    .magazine {
        height: 100vh;
        overflow: hidden;
        background-image: linear-gradient(to right, rgba(13, 106, 227, .9), rgba(13, 106, 227, .8), rgba(13, 106, 227, .5)), url(../img/cover/cyberpunk.jpg);
        background-size: cover;
        background-position: center;
    }

    .toolbar-magazine ul {
        padding: .7rem 2.5rem;
        border-radius: 15px;
    }

    .toolbar-magazine ul li {
        display: inline-block;
        width: 50px;
        padding: 8px;
        text-align: center;
        margin: 0 5px;
        border-radius: 10px;
        font-size: 20px;
        background-color: #ffffff;
        vertical-align: middle;
        transition: .2s ease-in-out;
    }

    .toolbar-magazine ul li svg {
        color: #0d6ae3;
    }

    .toolbar-magazine ul li:hover {
        background-color: #0D6AE3;
        box-shadow: 0px 13px 11px -4px #80B4F7;
        transform: translateY(-5px);
    }

    .toolbar-magazine ul li:hover svg {
        color: #fff;
        transform: scale(1.1);
    }

    .toolbar-magazine * {
        text-decoration: none !important;
    }

    .thumbnail-slide.bottom {
        bottom: 0;
        width: 100%;
        /* display: none; */
    }


    .thumbnail-slide.bottom .overlay-left {
        top: 0;
        background: linear-gradient(to right, rgba(13, 106, 227, .6), rgba(255, 255, 255, 0));
        width: 15%;
        height: 100%;
    }

    .thumbnail-slide.bottom .overlay-right {
        top: 0;
        background: linear-gradient(to left, rgba(13, 106, 227, .6), rgba(255, 255, 255, 0));
        width: 15%;
        right: 0;
        height: 100%;
    }

    .bottom .thumbnail-magazine .slick-prev {
        margin-left: 100px;
    }

    .bottom .thumbnail-magazine .slick-next {
        margin-right: 100px;
    }

    .bottom .thumbnail-magazine .slick-next,
    .bottom .thumbnail-magazine .slick-prev {
        font-size: 20px !important;
        display: block !important;
        transition: 0.2s ease-in-out;
        position: absolute;
        z-index: 100;

    }

    .bottom .thumbnail-magazine .slick-next:hover,
    .bottom .thumbnail-magazine .slick-prev:hover {
        background: rgba(255, 255, 255, 0.34) !important;
    }


    .bottom .thumbnail-magazine .slick-next:before,
    .bottom .thumbnail-magazine .slick-prev:before {
        display: none;
    }

    .bottom .thumbnail-magazine {
        padding: 2rem 0;
    }

    .bottom .thumbnail-magazine .items {
        margin: 0 35px;
        position: relative;
        transition: .2s all linear;
    }

    .bottom .thumbnail-magazine .items img {
        width: 50%;
    }

    .bottom .thumbnail-magazine .slick-list {
        overflow: visible !important;
    }

    .bottom .thumbnail-magazine .items.slick-center {
        transform: scale(1.6)translateY(-18px);
        box-shadow: 0px 13px 11px -4px #80B4F7;
    }
    .thumbnail-slide.left {
        left: 0;
        top: 0;
        width: 160px;
        text-align: center;
        height: 100%;
        transform: translateZ(0px);
        display: inline-block;
    }

    .thumbnail-slide.left .thumbnail-magazine {
        height: 100%;
        background-color: rgba(0, 0, 0, .5) !important;
    }

    .thumbnail-slide.left .thumbnail-magazine .slick-list {
        height: 100% !important;
    }

    .thumbnail-slide.left .thumbnail-magazine .items {
        display: block !important;
        margin: 5px 0;
    }

    .thumbnail-slide.left .thumbnail-magazine .items img {
        width: 50%;
    }

    .left .thumbnail-magazine .slick-prev {
        left: 60px;
        transform: rotate(90deg);
        top: 2%;
        z-index: 200 !important;
    }

    .left .thumbnail-magazine .slick-next {
        left: 60px;
        transform: rotate(90deg);
        top: 96%;
    }

    .left .thumbnail-magazine .slick-next,
    .left .thumbnail-magazine .slick-prev {
        font-size: 20px !important;
        display: block !important;
        transition: 0.2s ease-in-out;
        position: fixed;
        z-index: 100;

    }

    .left .thumbnail-magazine .slick-next:before,
    .left .thumbnail-magazine .slick-prev:before {
        display: none;
    }

    .thumbnail-slide.left .overlay-left {
        top: 0;
        background: linear-gradient(to bottom, rgba(13, 106, 227, .6), rgba(255, 255, 255, 0));
        width: 100%;
        height: 15%;
    }

    .thumbnail-slide.left .overlay-right {
        bottom: 0;
        background: linear-gradient(to top, rgba(13, 106, 227, .6), rgba(255, 255, 255, 0));
        width: 100%;
        right: 0;
        height: 15%;
    }
    .navbar-group div {
        display: inline-block;
        margin: 5px;
        background-color: rgba(128, 180, 246, .5);
        vertical-align: middle;
    }

    .navbar-group div .img-setting {
        transition: .3s ease-in-out;
    }

    .navbar-group .img-layer img {
        transition: .4s ease-in-out;
        display: list-item;
    }

    .navbar-group .img-layer img:nth-child(2),
    .navbar-group .img-layer img:nth-child(3) {
        margin-top: -9px;

    }

    .navbar-group .img-layer:hover img:nth-child(1) {
        margin-top: -2px;
        margin-bottom: 2px;
    }

    .navbar-group .img-layer:hover img:nth-child(3) {
        margin-top: -6px;
    }

    .navbar-group div:hover .img-setting {
        transform: rotate(45deg);
    }



    .modal-content-option {
        background-color: #fefefe;
        margin-top: 6%;
        opacity: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        padding-top: 30px;
        right: 4%;
        transition: .4s all;
    }

    .modal-content-option.show {
        opacity: 1;
        margin-top: 8%;
    }

    .triangle {
        position: absolute;
        top: -10px;
        width: 20px;
        transform: rotate(45deg);
        height: 20px;
        left: 45%;
    }

    .modal-content-option hr {
        background-color: #DBDBDB;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .modal-content-option .form-group,
    .modal-content-option input {
        font-size: 14px !important;
    }